#map {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.country {
  strokelinecap: round;
  strokelinejoin: round;
  strokewidth: 0.05;
}

.country-label {
  fill: #006fab;
  font-size: 12px;
  font-weight: 700;
  text-anchor: middle;
  text-transform: uppercase;
}
